em-emoji-picker {
    width: 100%;
}

.shadowButton:hover {
    box-shadow: rgba(51, 154, 240, 10) 0px 0px 20px;
}

.shadowButton:active {
    box-shadow: rgba(51, 154, 240, 10) 0px 0px 20px;
}

.shadowButton {
    transition: all 0.1s ease-in-out;
}

.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview h6 {
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: #66ccff30;
    text-decoration-thickness: 0.75rem;
    text-underline-offset: -0.3rem;
}