em-emoji-picker {
    width: 100%;
}

.shadowButton:hover {
    box-shadow: rgba(51, 154, 240, 10) 0px 0px 20px;
}

.shadowButton:active {
    box-shadow: rgba(51, 154, 240, 10) 0px 0px 20px;
}

.shadowButton {
    transition: all 0.1s ease-in-out;
}

.vditor-reset > h1,
.vditor-reset > h2,
.vditor-reset > h3,
.vditor-reset > h4,
.vditor-reset > h5,
.vditor-reset > h6 {
    margin-top: 0 !important;
}
